p {
    background-color: blue;
    border: beige;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 30px; }
p:hover {
    background-color: purple;
    border: black;
    color: yellow;
 }